.main {
  position: relative;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
